#adtm_menu {
  clear: both;
  text-align: left;
  zoom: 1;
  border-style: solid; }

.adtm_menu_container {
  position: relative; }

div.adtm_sticky #adtm_menu {
  margin-top: 0; }

#adtm_menu_inner {
  border-style: solid; }

#adtm_menu ul#menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 1199px) {
    #adtm_menu ul#menu {
      position: relative; } }
  #adtm_menu ul#menu:before {
    content: '';
    display: block; }
  #adtm_menu ul#menu:after {
    content: '';
    display: block;
    clear: both; }
  #adtm_menu ul#menu li.li-niveau1 {
    float: left; }
    #adtm_menu ul#menu li.li-niveau1.advtm_search {
      width: 30px;
      padding-top: 20px;
      position: relative;
      float: right; }
      @media (max-width: 1199px) {
        #adtm_menu ul#menu li.li-niveau1.advtm_search {
          position: absolute;
          top: 0;
          right: -30px;
          float: none; } }
    #adtm_menu ul#menu li.li-niveau1 .search_container {
      display: none; }
    #adtm_menu ul#menu li.li-niveau1.sub:after {
      content: '';
      position: absolute;
      top: 80px;
      width: 0;
      height: 0;
      margin-left: 10px;
      clear: both;
      border-width: 0 12px 10px 12px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      visibility: hidden;
      z-index: 150;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
      -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
      -webkit-transition: visibility 0s linear, opacity 0.3s linear;
      -webkit-transition-delay: 0.3s, 0s;
      transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; }
      @media (max-width: 1199px) {
        #adtm_menu ul#menu li.li-niveau1.sub:after {
          top: 60px; } }
      @media (max-width: 991px) {
        #adtm_menu ul#menu li.li-niveau1.sub:after {
          display: none; } }
    #adtm_menu ul#menu li.li-niveau1.sub.active:after {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      visibility: visible; }
    #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 {
      display: block;
      padding: 0;
      margin-top: 20px;
      margin-right: 8px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 0.94;
      letter-spacing: -0.2px;
      text-align: left;
      color: #525252; }
      #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 .advtm_menu_span:after {
        position: relative;
        top: 5px;
        padding-left: 8px; }
      @media (max-width: 1199px) {
        #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 {
          margin-right: 2px;
          font-size: 12px; }
          #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 .advtm_menu_span:after {
            padding-left: 2px; } }

/* IE6 */
* html #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 .advtm_menu_span {
  display: inline-block; }

#adtm_menu ul#menu li div.adtm_sub {
  position: absolute;
  right: 0;
  top: 90px;
  padding: 0;
  min-height: 340px;
  max-height: 720px; }
  @media (max-width: 1199px) {
    #adtm_menu ul#menu li div.adtm_sub {
      top: 70px; } }

/* IE6 */
* html #adtm_menu table {
  border-collapse: collapse;
  margin: -1px -10px;
  font-size: 1em;
  width: 0;
  height: 0; }

#adtm_menu .advtm_open_on_hover ul#menu .li-niveau1:hover div.adtm_sub {
  left: 0; }
#adtm_menu .advtm_open_on_hover ul#menu a:hover div.adtm_sub {
  left: -1px;
  top: 29px; }
#adtm_menu .advtm_open_on_click ul#menu .li-niveau1.atm_clicked div.adtm_sub {
  left: 0; }
#adtm_menu .advtm_open_on_click ul#menu .atm_clicked a:hover div.adtm_sub {
  left: -1px;
  top: 29px; }
#adtm_menu div.adtm_column_wrap span.column_wrap_title {
  text-align: left;
  display: block; }
#adtm_menu div.adtm_column_wrap ul.adtm_elements {
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
  zoom: 1; }
  #adtm_menu div.adtm_column_wrap ul.adtm_elements li {
    width: 100%;
    padding: 0;
    margin: 0;
    zoom: 1; }
    #adtm_menu div.adtm_column_wrap ul.adtm_elements li.image a {
      display: block; }
    #adtm_menu div.adtm_column_wrap ul.adtm_elements li a {
      color: #30373b;
      font-size: 14px;
      display: inline-block;
      position: relative;
      line-height: 16px;
      padding-bottom: 10px; }
#adtm_menu li.adtm_column_wrap_td {
  border: 0; }
#adtm_menu ul.columnWrapTable {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }
  #adtm_menu ul.columnWrapTable > li {
    vertical-align: top;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    position: relative; }
    #adtm_menu ul.columnWrapTable > li[data-columns-count="2"] {
      width: 50%; }
    #adtm_menu ul.columnWrapTable > li[data-columns-count="3"] {
      width: 33.33333%; }
    #adtm_menu ul.columnWrapTable > li[data-columns-count="4"] {
      width: 25%; }
    #adtm_menu ul.columnWrapTable > li[data-columns-count="5"] {
      width: 20%; }
    #adtm_menu ul.columnWrapTable > li > .adtm_column_wrap {
      padding: 0 30px; }
#adtm_menu .adtm_column_wrap_sizer {
  font-size: 0;
  height: 0;
  line-height: 0; }
#adtm_menu ul#menu .submenu-toggle {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 0;
  border: 0;
  background: none;
  right: 0;
  top: 0;
  text-align: center; }
  #adtm_menu ul#menu .submenu-toggle:focus {
    outline: 0; }
  #adtm_menu ul#menu .submenu-toggle:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    z-index: 2;
    background: url(../../../../../../../img/blackprint/drop-down.svg) no-repeat center;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease; }
#adtm_menu ul#menu li.sub.adtm_sub_open .submenu-toggle:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
#adtm_menu .tablet-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

/* Fix bug IE link with filter property */
/* Not available on PS 1.5 */
.clear {
  clear: both; }

img.adtm_menu_icon {
  vertical-align: top;
  margin-right: 3px; }

#adtm_menu .searchboxATM .search_query_atm {
  width: 150px;
  margin-left: 0 !important; }
#adtm_menu .searchboxATM .button_mini {
  display: inline-block; }
#adtm_menu .search_query_atm.form-control {
  display: inline-block; }
#adtm_menu .adtm_unclickable {
  text-decoration: none !important; }
#adtm_menu .searchboxATM {
  position: relative; }
#adtm_menu .adtm_search_submit_button {
  position: absolute;
  border: none;
  background: none;
  right: 0;
  top: 0;
  color: inherit; }

/* PS 1.7 */
/* RESPONSIVE */
@media (max-width: 1199px) {
  #adtm_menu ul.columnWrapTable > li:not(.category-column) > .adtm_column_wrap {
    padding: 0 15px; } }
@media (min-width: 992px) {
  #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 .advtm_menu_span:after {
    content: url(../../../../../../../img/blackprint/drop-down.png); }
  #adtm_menu ul#menu li.li-niveau1 .search_container {
    position: absolute;
    right: 35px;
    background-color: #fff; }
  #adtm_menu ul.columnWrapTable > li.hasChildren {
    border-left: 1px solid #7dff75; }
  #adtm_menu ul.columnWrapTable > li:first-child {
    border-left: 0; } }
@media (max-width: 991px) {
  #adtm_menu ul#menu {
    height: calc(100vh - 53px);
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    top: 53px;
    left: 0;
    z-index: 0;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease; }
    #adtm_menu ul#menu li.li-niveau1 a.a-niveau1 {
      display: inline-block;
      margin-top: 0;
      height: 50px;
      line-height: 50px; }
    #adtm_menu ul#menu li div.adtm_sub {
      max-height: none;
      min-height: inherit; }
    #adtm_menu ul#menu li .submenu-toggle {
      display: inline; }
  #adtm_menu ul.columnWrapTable {
    display: block; }
    #adtm_menu ul.columnWrapTable > li {
      margin-top: 0;
      margin-bottom: 0; }
      #adtm_menu ul.columnWrapTable > li[data-columns-count="2"], #adtm_menu ul.columnWrapTable > li[data-columns-count="3"], #adtm_menu ul.columnWrapTable > li[data-columns-count="4"], #adtm_menu ul.columnWrapTable > li[data-columns-count="5"] {
        width: 100%; }
  #adtm_menu.adtm_menu_toggle_open ul#menu {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0); }
  #adtm_menu div.adtm_column_wrap ul.adtm_elements {
    padding-top: 5px; } }
@media (min-width: 768px) {
  #adtm_menu .tablet-container .search_container {
    position: absolute;
    right: 35px;
    background-color: #fff; }
  #adtm_menu .tablet-container .searchboxATM {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 30px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #adtm_menu ul#menu {
    height: calc(100vh - 102px);
    top: 102px;
    width: 40vw; } }

/*# sourceMappingURL=pm_advancedtopmenu_base.css.map */
